menu "IoTea Camera"

config ESP_WIFI_SSID
    string "WiFi SSID"
    default ""
    help
	Wifi SSID (network name) for the ESP-EYE to connect to.

config ESP_WIFI_PASSWORD
    string "WiFi Password"
    default ""
    help
	WiFi password (WPA or WPA2) for the ESP-EYE to use.

config ESP_MAXIMUM_RETRY
    int "Maximum retries"
    default 5
    help
    Set the maximum retries for trying to connect to the WiFi.

endmenu